*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
header{
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),url(background.png);
	height: 13vh;
	background-size: cover;
}
.mainNav{
	float: right;
	list-style: none;
	margin-top: 30px;

}
.mainNav li{
	display: inline-block;
}
.mainNav li a{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size:15px;
}
.mainNav li.active a{
	background-color: darkorange;
}
.mainNav li a:hover{
	background-color: darkorange;
}
.openbtn{
	color:white;
	text-decoration: none;
	padding: 5px 20px;
	font-family: "Roboto", sans-serif;
	font-size:15px;
	background-color: transparent;
	border:none;
	cursor: pointer;
}
.openbtn:hover{
	background-color: darkorange;
}
.logo img{
	width: 150px;
	height: auto;
	float: left;
	margin-left: 80px;
}

img{
	width: 200px;
	height:140px;
}
#bandeau{
	background-color: #dfdfdf;
	background-image: url(image2.jpg);
	background-size: ;
	background-repeat: no-repeat;
	background-position: right;
	height: 29vh;
}
.textdev{
	padding: 3%;
	width: 40%;
	font-family: "inherit",sans-serif;
	font-size: 12pt;
}
.textdev > h1{
	margin-bottom: 10px;
}
#titredevis{
	text-align: center;
	margin-bottom: 1%;
}
.debutdevis{
	height: 57vh;
	font-family:"inherit",sans-serif;
	margin-top: 1%;
	padding: 20px;
}
.debutdevis input[type="checkbox"] + label {
      padding:10px;
      margin:2% ;
}
.debutdevis input[type="checkbox"]:checked + label:before {
	
}

#debutgauche{
	margin-left:5%;
	float: left;
}
#debutdroit{
	float: right;
	margin-right: 0%;
}

footer{
	height: 12vh;
	background-color: #555;
	color:#e8e9ed;
}
footer h3{
	text-align: center;
	padding: 30px;
	font-family: "Raleway", sans-serif;
}
/* Le sidepannel de connexion  */
.sidepanel  {
    width: 0px;
    position: fixed;
    z-index: 1;
    height: 60%;
    top: 0;
    right: 0;
    filter: opacity(92%);
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidepanel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover {
    color: #f1f1f1;
}

.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}
.identification{
    text-align: center;
    color: white;
    text-decoration: white;
}
.sidetitle{
	margin-bottom: 20px;
}
#email{
    padding: 10px;
    width: 220px;
    height: 20px;
    border-radius: 8px;
    margin:5px;
    margin-bottom: 20px;
}
#email:focus{
    outline: 2px solid green;
    border-radius: 8px;
}
#mdp{
	margin-top: 5px;
    border-radius: 8px;
    padding:10px;
    width: 180px;
    height: 20px;
}
#connexion {
    text-align: center;
    margin-top: 25px;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid grey;
    background-color: darkorange;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

#connexion:hover {
    background-color: #45a049;
    color: white;
}
#email:invalid {
    color: red;
}
.compte1{
	text-align: center;
	color: darkorange;
	font-size: 15px;
	margin-left: -25px;
}
/*Le CSS de "Nous contacter" avec un overlay*/
.overlay {
    width: 100%;
    height: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
	font-family: "Raleway", Helvetica, sans-serif;
	color: white;
    position: relative;
    top: 0%;
    height: : 100%;
    text-align: center;
    margin-top: 30px;
}
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn2 {
	z-index: 1;
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
input[type=text], select, textarea {
    width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: darkorange;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    padding: 20px;
}
#email2{
	width: 70%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
